.credits{
  font-size: 1rem;
  max-width: 220px;
  background-color: #00d1b2;
  word-wrap: break-word;
  color: #fff;
  border-radius: 4px;
  line-height: 1.5;
  padding-left: .75em;
  padding-right: .75em;
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.credits a{
 color: white;
}
hr{
  display: block; height: 1px;
    border: 0; border-top: 1px solid white;
    margin: 1em 0; padding: 0; margin: 3px;
}